@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Tắt chế độ tối hoàn toàn, giữ màu chữ luôn là màu đen */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0; /* Màu chữ đen */
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Thêm class tiện ích để đảm bảo chữ luôn có màu đen */
.text-always-black {
  color: black !important;
}

/* Đảm bảo form trong modal luôn hiển thị với chữ đen */
.modal-form input,
.modal-form select,
.modal-form textarea,
.modal-form label {
  color: black;
}
